<style>
    .search-menu {
        display: none;
    }
</style>
{% extends 'main.html' %} {% block content %} {% load static %}

</div>
<div class="backdrop"></div>
</header>
<main class="dashb__main">
    <div class="section-wrapper__grid " id="steady" style="height: auto;">
        <div class="section-wrapper__grid1">
            <ul>
                <li>dashboard</li>
                <ul class="displayUL" style="padding: 0;border:none;margin: 0; height: auto;">
                    <li>DP banners <i class="fa fa-chevron-right chevy" aria-hidden="true" style="margin-left: 1.6rem;"></i></li> 
                    <aside class="mainaside">
                        <li>All My Dp</li>
                        <li>Create</li>
                    </aside>
                </ul>
                <li>My profile</li>
                <li>Settings</li>
                <li>Logout</li>
            </ul>
        </div>
    <button type="button" class="button__create" style="display: none;">Create</button>
    
   <div class="create__dp-section">
    <h2>Create Your DP</h2>
    <section class="create__dp-container">
        <ul class="create__dp-nav__section">
            <li>basic information</li>
            <li>set avatar location</li>
            <li>set name preferance</li>
            <li>preview and publish</li>
        </ul>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">Event Name</label><br>
            <input type="text" id="name" placeholder="Name" name="event_name" minlength="10" maxlength="200" required>
            <div class="file__upload" >
                <div class="file__upload-content">
                    <label style="margin-top: 0.5rem; display:block;position: relative;">Upload your flier</label>
                     <label for="uploaded" class="uploadedfile">
                    <div style="width:100%;height:100%;position:absolute;z-index:-11;opacity:0.5;"><img src=""  srcset="" id="placeholder-img" style="width:100%;height:100%;"></div>

                        <div class="clickupload">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                              </svg>
                              <p>Click to upload</p>
                        </div>
                        <input type="file" name="image" class="imginp" id="uploaded" style="display: none;" accept="image/*" required>
                    </label>
                </div>
                <div class="file__upload-content1">
                    <label for="loading..">Upload</label>
                    <progress min="0" max="100" value="0" id="progress" style="transition:ease 1s;"></progress>
                    <span class="progress__indicator"></span>
                    <p>Note: Maximum size of the image should be 5MB</p>
                </div>
                
            </div>
           
            <div class="description-con">
                <label for="description">Description</label>
                <textarea name="description" id="" cols="6" rows="6" minlength="30" required></textarea>
            </div>
            <div class="select" style="margin-top: 1rem;">
                <label for="cat">Categories</label><br>
                <select name="category" id="cat" required>
                    <option value="party" selected>Party</option>
                    <option value="politics">Politics</option>
                    <option value="music">Music</option>
                    <option value="religion">Religion</option>
                    <option value="business">Business</option>
                    <option value="fashion">Fashion</option>
                    <option value="food and drinks">Food and Drinks</option>
                    <option value="art and culture">Art and Culture</option>
                    <option value="movements">Movements</option>
                    <option value="socials">Socials</option>
                    <option value="film">Film</option>
                    <option value="music">Music</option>
                    <option value="others">Others</option>
                </select>
            </div>
            <div style="margin-top: 1rem;">
                <label for="hash1">Hashtag</label><br>
                <input type="text" placeholder="Name" name="hashtag1" id="hash1" required>
            </div>
            
           <div style="display: flex; justify-content:flex-end;">
            <button type="submit">Next</button>
           </div>
        </form>
    </section>
   </div>
        
</main>


<script>
    window.onload = () => {
        //localStorage.clear()
        if (localStorage.getItem('flier')) {
            flier_obj = JSON.parse(localStorage.getItem('flier'))
            document.querySelector('input[name=event_name]').value = flier_obj.event_name
            document.querySelector('textarea[name=description]').value = flier_obj.description
            document.querySelector('input[name=hashtag1]').value = flier_obj.hashtag1
            //document.querySelector('input[name=hashtag2]').value = flier_obj.hashtag2
            document.querySelector('input[name=category]').value = flier_obj.category
        } 
    }
    //CKEDITOR.replace('content')
 
    let imgInp = document.querySelector('.imginp')
    let place = document.getElementById('placeholder-img')
    
    imgInp.onchange = evt => {
        
        const [file] = imgInp.files
        if (file) {
            let size = file.size/ 1024 / 1024
            if (size > 5) {
                let progress = document.querySelector('.file__upload-content1 progress')
                place.src = ''
                progress.value = 0
                progress.style.border = '1px solid red'
            } else {
                let progress = document.querySelector('.file__upload-content1 progress')
                place.src = URL.createObjectURL(file)
                let i = 0
                while (i != 100) {
                    progress.value = 100
                    //let interval = setInterval(function () {progress.value += 10}, 1000);
                    i += 10
                }
            }
        } else {
            let progress = document.querySelector('.file__upload-content1 progress')
            place.src = ''
            progress.value = 0
            
        }
    }
    const form = document.querySelector('form')
    
form.onsubmit = (e) => {
e.preventDefault()
let formData = new FormData(form);
let event_name = formData.get('event_name');
let hashtag1 = formData.get('hashtag1')
let description = formData.get('description')
let category = formData.get('category')
let flier = {
    'event_name': event_name,
    'description':description,
    'hashtag1': hashtag1,
    'category': category
}

let file 
const imgPath = document.querySelector('input[type=file]').files[0];
const reader = new FileReader();
reader.readAsDataURL(imgPath)
reader.addEventListener("load", function () {
    // convert image file to base64 string and save to localStorage
   flier.file = reader.result
   localStorage.setItem('flier', JSON.stringify(flier)) 
   window.location.href = '/avatar'
}, false);
}
</script>
{% endblock content %}