{% extends 'main.html' %} {% block content %} {% load static %}



	<section class="section-wrapper">
		<div class="quick-nav-links">
			<div class="nav-container">
				<ul>
					<li><a href="#">Top</a></li>
					<li><a href="#">Trending</a></li>
                    <li><a href="#">Categories</a></li>
				</ul>
			</div>
		</div>
		<div class="gallery-wrapper">
		 <div class="gallery">
			<div class="img-container">
			</div>
		 </div>
         <div class="gallery">
			<div class="img-container">
			</div>
		 </div>
		 <div class="gallery">
			<div class="img-container">
			</div>
		 </div>
		</div>
	</section>




	<section class="section-wrapper">
		<div class="create-section">
			<div class="create-header flex-center">
			<h4>How to create</h4>
			<span class="line"></span>
		    </div>
		    <div class="create-body flex">
		    	<div class="box">
		    	</div>
		    	<div class="box">
		    	</div>
                <div class="box">
		    	</div>
                <div class="box">
		    	</div>
		    </div>
		    <div class="create-footer">
		    <p>How to create</p>
		    </div>
		</div>
	</section>
	{% endblock content %}