{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/images/huloex-logo.png' %}" type="image/icon"/>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="{% static '/font-awesome/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static './js/jquery-ui-1.13.2.custom/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static './js/jquery-ui-1.13.2.custom/jquery-ui.theme.css' %}">
    <link rel="stylesheet" href="{% static './js/jquery-ui-1.13.2.custom/jquery-ui.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <title>DP</title>
</head>
<body>


	{% block content %}{% endblock content %}

<footer class="footer-wrapper index-page">
	<div class="footer-nav-container">
		<nav>
			<ul class="flex-center footer-flex">
				<li><a href="#">site map</a></li>
				<li><a href="#">site map</a></li>
				<li><a href="#">site map</a></li>
				<li><a href="#">site map</a></li>
			</ul>
		</nav>
	</div>
</footer>
<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.13.2.custom/jquery-ui.js' %}"></script>
</body>
</html>