{% extends 'main.html' %} {% block content %} {% load static %}

        
       
      </div>
    </header>
    <main class="floatin__div">
      <div class="floating__condition">
        <h1>Browse Categories</h1>
      <div class="floating__div-content">
      
{% for flier in fliers %}
<div class="floating__condition-divs" style="background-color:#000;"><img src="{{ flier.imageString }}" alt="" style="opacity:0.7;border-radius: 10px;"/>
  <div class="floating__items floating__file">
        <h2> {{ flier.event_name }}</h2>
      <span><i class="fa fa-eye" aria-hidden="true"></i> 544 views</span>
      <span><i class="fa fa-users" aria-hidden="true"></i> 54 views</span>
      <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</span>
    </div>
</div> 
{% empty %}
<h1>
  This page is empty
</h1>
{% endfor %}
        
          
          </div>
          {% comment %} <div class="floating__condition-divs"><img src="./images/Rectangle 3.png" alt="" /> <div class="floating__items floating__file">
                <h2>Outpouring 2022</h2>
              <span><i class="fa fa-eye" aria-hidden="true"></i> 544 views</span>
              <span><i class="fa fa-users" aria-hidden="true"></i> 54 views</span>
              <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</span>
            </div></div>
          <div class="floating__condition-divs"><img src="./images/Rectangle 3.png" alt="" /> <div class="floating__items floating__file">
                <h2>Outpouring 2022</h2>
              <span><i class="fa fa-eye" aria-hidden="true"></i> 544 views</span>
              <span><i class="fa fa-users" aria-hidden="true"></i> 54 views</span>
              <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</span>
            </div></div>
          <div class="floating__condition-divs"><img src="./images/Rectangle 3.png" alt="" /> <div class="floating__items floating__file">
                <h2>Outpouring 2022</h2>
              <span><i class="fa fa-eye" aria-hidden="true"></i> 544 views</span>
              <span><i class="fa fa-users" aria-hidden="true"></i> 54 views</span>
              <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</span>
            </div></div>
          <div class="floating__condition-divs"><img src="./images/Rectangle 3.png" alt="" /> <div class="floating__items floating__file">
                <h2>Outpouring 2022</h2>
              <span><i class="fa fa-eye" aria-hidden="true"></i> 544 views</span>
              <span><i class="fa fa-users" aria-hidden="true"></i> 54 views</span>
              <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</span>
            </div></div>
          <div class="floating__condition-divs"><img src="./images/Rectangle 3.png" alt="" /> <div class="floating__items floating__file">
                <h2>Outpouring 2022</h2>
              <span><i class="fa fa-eye" aria-hidden="true"></i> 544 views</span>
              <span><i class="fa fa-users" aria-hidden="true"></i> 54 views</span>
              <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</span>
            </div></div>
          <div class="floating__condition-divs"><img src="./images/Rectangle 3.png" alt="" /> <div class="floating__items floating__file">
                <h2>Outpouring 2022</h2>
              <span><i class="fa fa-eye" aria-hidden="true"></i> 544 views</span>
              <span><i class="fa fa-users" aria-hidden="true"></i> 54 views</span>
              <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</span>
            </div></div>
          <div class="floating__condition-divs"><img src="./images/Rectangle 3.png" alt="" /> <div class="floating__items floating__file">
                <h2>Outpouring 2022</h2>
              <span><i class="fa fa-eye" aria-hidden="true"></i> 544 views</span>
              <span><i class="fa fa-users" aria-hidden="true"></i> 54 views</span>
              <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</span>
            </div></div>
          <div class="floating__condition-divs"><img src="./images/Rectangle 3.png" alt="" /> <div class="floating__items floating__file">
                <h2>Outpouring 2022</h2>
              <span><i class="fa fa-eye" aria-hidden="true"></i> 544 views</span>
              <span><i class="fa fa-users" aria-hidden="true"></i> 54 views</span>
              <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</span>
            </div></div>
          <div class="floating__condition-divs"><img src="./images/Rectangle 3.png" alt="" /> <div class="floating__items floating__file">
                <h2>Outpouring 2022</h2>
              <span><i class="fa fa-eye" aria-hidden="true"></i> 544 views</span>
              <span><i class="fa fa-users" aria-hidden="true"></i> 54 views</span>
              <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</span>
            </div></div>
          <div class="floating__condition-divs"><img src="./images/Rectangle 3.png" alt="" /> <div class="floating__items floating__file"> 
                <h2>Outpouring 2022</h2>
              <span><i class="fa fa-eye" aria-hidden="true"></i> 544 views</span>
              <span><i class="fa fa-users" aria-hidden="true"></i> 54 views</span>
              <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</span>
            </div></div>
        </div>
        {% endcomment %}
      </div>
    </main>
    <div class="empty"></div>
    {% endblock content %}