<style>
  .search-menu {
      display: none;
  }
</style>
{% extends 'main.html' %} {% block content %} {% load static %}
<style>
    article img {
      width: 100vw !important;
      height: 100vh !important;
    }
    .image_preview {
      height:100%;
      width:100%;
    }
    .image_preview #the_image {
      height:100%;
      width:100%;
    }
    #hv, #b64{
      width: 0px;
      height: 0px;
      overflow: hidden;
      background: transparent;
    }
  

  </style>
    </div>
  </header>
  <main class="floatin__div" id="visitor">
    <div class="floating__condition">
      <h1>{{ flier.event_name }}</h1>
      <div class="iconss">
        <span><i class="fa fa-eye" aria-hidden="true"></i> {{ flier.no_of_clicks }}</span>
        <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</span>
        <span><i class="fa fa-share" aria-hidden="true"></i> share</span>
      </div>
      <div class="peter__obi-img">
        <div class="flier_con" style="height:500px;width:80vh;position:relative;z-index:1000;">
          {{ flier.htmlFile|safe }}
        </div>
        <section>

          <form action="/visitor1/{{flier.id}}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">enter your name</label><input type="text" name="attendee_name" required>
            <label for="flier-img">
              <input type="file" name="attendee_image" id="flier-img" required>
            </label>


            <button class="generate" type="submit">Generate DP</button>
          </form>
        </section>
        
      </div>
    </div>

    </div>
  </main>
  <div class="empty visitor__empty"> </div>
  <footer class="footer-wrapper index-page">
    <div class="footer-nav-container">
      <nav>
        <ul class="flex-center footer-flex">
          <li><a href="#">site map</a></li>
          <li><a href="#">site map</a></li>
          <li><a href="#">site map</a></li>
          <li><a href="#">site map</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <script src="{% static 'js/header.js' %}"></script>
  <script>
    //file = document.querySelector('input[type=file]')
   
  
    let form = document.querySelector('form')
    let fileinput = document.querySelector('input[type=file]')
    fileinput.onchange = () => {
      
      const imgPath = document.querySelector('input[type=file]').files[0];
      const reader = new FileReader();
      reader.readAsDataURL(imgPath)

      reader.addEventListener("load", function () {
        let container = document.querySelector('.dragable__display.selector2.ui-resizable')
        container.style.backgroundImage = "url(" + reader.result + ")";
        container.style.backgroundSize = '100% 100%'
      }, false);
      
    }

   
    
  </script>

  {% endblock content %}


